<div class='bookmark' id='bookmark_<%= bookmark.id %>'>
  <div class='bookmark-link'>
    <%= link_to '', bookmark.url, class: 'link' %>
    <div class='title'>
      <%= bookmark.short_url %>
    </div>
    <div class='screen'>
      <img src='<%= bookmark.image_url %>'/>
    </div>
  </div>
  <%- if bookmark.user == current_user %>
    <%= link_to '×', bookmark_path(bookmark), method: :delete, remote: true, class: 'delete' %>
  <% end %>
</div>
